.content-box
{
    display:         flex;
    justify-content: center;
}

.content
{
    display: flex;
    justify-content: center;
}

.box
{
    margin-top:       35vh;
}

.title
{
    font-size:  1.5em;
    text-align: center;
    color:    black;
}

.title img
{
    width:         70px;
    height:        70px;
    margin-bottom: 10px;
}

.container
{
    padding:         15px;
    border-radius:   5px;
    background-color: #2d2f3b;
}
