input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.input
{
    display:         flex;
    justify-content: center;
    padding: 5px;
}

.input input
{
    width:             100%;
    padding:           12px;
    border:            none;
    border-radius:     0px 5px 5px 0px;
    background-color: #fff;
}

.input-error input
{
    width:             100%;
    padding:           12px;
    border:            1px solid #fd6363;
    border-radius:     0px 5px 5px 0px;
    background-color: #fcc8c8;
}

.input i
{
    padding:           15px 0px 0px 15px;
    border-radius:     5px 0px 0px 5px;
    color:           #2d2f3b;
    background-color: white;
}