body
{
    /* background-image:      url('assets/img/waves3.svg');
    background-repeat:     no-repeat;
    background-size:       1920px;
    background-position:   0px 32vh;
    background-attachment: fixed;
    aspect-ratio:          960/300;

    background-color: rgb(30, 30, 39); */
}