body
{
    /* background-image: url('./assets/img/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat; */

    background-color: rgb(30, 30, 39);
}